*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 50px;
    height: 600px;
    padding: 50px 0;
    border-radius: 50px;
    
}

.timer-Display{
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.laps{
    text-align: center;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
}

.buttons{
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.buttons button{
   width: 100px;
   height: 30px;
   border-radius: 50px;
   background-color: black;
   color: white;
   border: 1px solid white;
}

.buttons button:hover{
    background-color:white;
    color: black;
    border: 1px solid #b6b6b6;
    
} 
